* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Segoe UI", sans-serif;
	line-height: 1.6;
	font-size: 16px;
}

ul {
	list-style: disc inside;
	margin-bottom: 1rem;
	padding-left: 1.2em;
}

li {
	margin-bottom: 0.7rem;
	line-height: 1.5;
}

.hidden {
	display: none;
}

input,
textarea {
	cursor: text;
}
