@media (max-width: 1200px) {
	.admin-flex {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 600px) {
	:root {
		--header-height: 3.2rem;
		--footer-height: 2.2rem;
	}

	.header,
	.footer {
		font-size: 0.9rem;
	}

	.admin-block {
		max-width: 100%;
		padding: 1rem 0.5rem;
		margin-bottom: 1.2rem;
		margin-left: auto;
		margin-right: auto;
	}

	.main-content {
		padding: 1rem 0 1rem 0;
	}

	input[type="file"] {
		font-size: 0.95em;
	}
}

@media (max-width: 480px) {
	.main-content section {
		padding: 0.5rem 0.2rem;
	}

	.main-content h2 {
		font-size: 1rem;
	}

	button,
	form button {
		font-size: 0.9rem;
		padding: 0.5rem 0.7rem;
	}
}