:root {
	--primary-color: #2f3e46;
	--secondary-color: #3e5053;
	--accent-color: #84dcc6;
	--background-color: #f0f2f5;
	--text-color: #333;
	--white: #fff;

	--button-bg: var(--primary-color);
	--button-hover-bg: var(--secondary-color);
	--button-text: var(--white);
	--auth-bg: var(--white);
	--header-bg: var(--primary-color);
	--header-text: var(--white);
	--footer-bg: var(--primary-color);
	--footer-text: var(--white);
	--sidebar-bg: var(--primary-color);
	--sidebar-text: var(--white);

	--exercise-bg: var(--white);
	--exercise-text: var(--text-color);

	--profile-ct: #f0f2f5;
	--profile-bg: var(--white);
	--profile-b: var(--primary-color);
	--profile-text: var(--text-color);
	--nav-b: var(--primary-color);

	--viewer-bg: var(--white);
	--viewer-text: var(--text-color);

	--course-card-bg: var(--white);
	--course-card-text: #000000de;
	--course-card-border: #d0d0d0;

	--splash-bg: rgba(255, 255, 255, 0.95);
	--header-height: 4rem;
	--footer-height: 2.5rem;
}

html[data-theme='dark'] {
	--primary-color: #1e1e1e;
	--secondary-color: #333;
	--accent-color: #84dcc6;
	--background-color: #121212;
	--text-color: #e0e0e0;
	--white: #373a40;
	--nav-b: #4a4a4a;
	--button-bg: var(--primary-color);
	--button-hover-bg: var(--secondary-color);
	--button-text: var(--white);

	--auth-bg: #181818;

	--profile-ct: #abaaaa21;
	--profile-b: #bac6c712;

	--header-bg: var(--primary-color);
	--header-text: var(--white);
	--footer-bg: var(--primary-color);
	--footer-text: var(--white);
	--sidebar-bg: var(--primary-color);
	--sidebar-text: var(--white);

	--exercise-bg: #1e1e1e;
	--exercise-text: var(--white);

	--profile-bg: #1e1e1e;
	--profile-text: var(--white);

	--viewer-bg: #212020;
	--viewer-text: var(--white);

	--course-card-bg: #1f1f1f;
	--course-card-text: #000000b0;
	--course-card-border: #333333;

	--splash-bg: rgba(30, 30, 30, 0.95);
}