services:
  r7l-postgres:
    image: postgres:15
    container_name: r7l-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - r7l_postgres_data:/var/lib/postgresql/data
      - ./backend/DbDefaultQueries/initialization.txt:/docker-entrypoint-initdb.d/01_initialization.sql
      - ./backend/DbDefaultQueries/default_inserts.txt:/docker-entrypoint-initdb.d/02_default_inserts.sql
    networks:
      - r7l-network

  r7l-postgres-replica:
    image: postgres:15
    container_name: r7l-postgres-replica
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    command: >
      postgres -c wal_level=replica -c hot_standby=on
    depends_on:
      - r7l-postgres
    networks:
      - r7l-network

  r7l-backend:
    build:
      context: ./backend
    container_name: r7l-backend
    depends_on:
      - r7l-postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__DefaultConnection: "Server=r7l-postgres;Port=5432;User Id=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Database=${POSTGRES_DB}"
    ports:
      - "5000:80"
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network

  r7l-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: r7l-frontend
    depends_on:
      - r7l-backend
    environment:
      BACKEND_URL: "http://r7l-backend:5000/api"
    ports:
      - "8081:80"
    volumes:
      - ./frontend/r7l:/static/r7learn
      - ./resources:/static/resources
    networks:
      - r7l-network

  r7l-admin-panel:
    build:
      context: ./admin_panel
      dockerfile: Dockerfile
    container_name: r7l-admin-panel
    ports:
      - "8083:80"
    volumes:
      - ./admin_panel/admin_r7l:/static/admin_r7learn
      - ./resources:/static/resources
    networks:
      - r7l-network

  r7l-converter:
    build:
      context: ./converter
    container_name: r7l-converter
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
    ports:
      - "8000:8000"
    user: "101:101"

  r7l-testcreator:
    build:
      context: ./TestCreator
    container_name: r7l-testcreator
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
    ports:
      - "8001:8000"
    user: "101:101"

  r7l-exercisecheck:
    build:
      context: ./ExerciseCheck
    container_name: r7l-exercisecheck
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
    ports:
      - "8002:8000"
    user: "101:101"

  r7l-nginx:
    image: nginx:alpine
    container_name: r7l-nginx
    depends_on:
      - r7l-frontend
      - r7l-backend
      - r7l-admin-panel
      - r7l-converter
      - r7l-testcreator
      - r7l-exercisecheck
    volumes:
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd
      - ./nginx/r7learn.xorg.su.conf:/etc/nginx/conf.d/r7learn.xorg.su.conf
      - ./nginx/admin.r7learn.xorg.su.conf:/etc/nginx/conf.d/admin.r7learn.xorg.su.conf
      - ./frontend/r7l:/usr/share/nginx/html/r7learn
      - ./admin_panel/admin_r7l:/usr/share/nginx/html/admin_r7learn
      - ./resources:/usr/share/nginx/html/resources
    ports:
      - "8082:80"
      - "8443:443"
    networks:
      - r7l-network

  integration-test:
    image: python:3.11
    depends_on:
      - r7l-backend
      - r7l-frontend
      - r7l-admin-panel
    volumes:
      - .:/app
    working_dir: /app
    command: /bin/sh -c "pip install requests && python integration_test.py"
    networks:
      - r7l-network
volumes:
  r7l_postgres_data:

networks:
  r7l-network:
    driver: bridge
