services:
  r7l-postgres:
    image: postgres:15
    container_name: r7l-postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - r7l_postgres_data:/var/lib/postgresql/data
      - ./backend/DbDefaultQueries/initialization.sql:/docker-entrypoint-initdb.d/01_initialization.sql
      - ./backend/DbDefaultQueries/default_inserts.sql:/docker-entrypoint-initdb.d/02_default_inserts.sql
    networks:
      - r7l-network

  r7l-postgres-replica:
    image: postgres:15
    container_name: r7l-postgres-replica
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - r7l_postgres_replica_data:/var/lib/postgresql/data
      - ./backend/DbDefaultQueries/replica-entrypoint.sh:/docker-entrypoint-initdb.d/replica-entrypoint.sh
    command: >
      postgres -c wal_level=replica -c hot_standby=on
    depends_on:
      - r7l-postgres
    networks:
      - r7l-network

  r7l-backend:
    build:
      context: ./backend
    container_name: r7l-backend
    depends_on:
      - r7l-postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Server=r7l-postgres;Port=5432;User Id=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Database=${POSTGRES_DB}"
      JWT_SECRET: ${JWT_SECRET}
    user: "101:101"
    volumes:
      - ./resources:/resources
      - ./backend/DataProtection-Keys:/home/appuser/.aspnet/DataProtection-Keys
    ports:
      - "8082:5000"
    networks:
      - r7l-network
      - monitoring-net

  r7l-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: r7l-frontend
    depends_on:
      - r7l-backend
    environment:
      BACKEND_URL: "http://r7l-backend:5000/api"
    networks:
      - r7l-network
      - monitoring-net

  r7l-admin-panel:
    build:
      context: ./admin_panel
      dockerfile: Dockerfile
    container_name: r7l-admin-panel
    networks:
      - r7l-network
      - monitoring-net

  r7l-converter:
    build:
      context: ./converter
    container_name: r7l-converter
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
      - monitoring-net
    user: "101:101"
    ports:
      - "8001:8001"

  r7l-testcreator:
    build:
      context: ./TestCreator
    container_name: r7l-testcreator
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
      - monitoring-net
    user: "101:101"

  r7l-exercisecheck:
    build:
      context: ./ExerciseCheck
    container_name: r7l-exercisecheck
    volumes:
      - ./resources:/resources
    networks:
      - r7l-network
      - monitoring-net
    user: "101:101"
    ports:
      - "8002:8001"

  r7l-nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: r7l-nginx
    depends_on:
      - r7l-backend
      - r7l-frontend
      - r7l-admin-panel
    ports:
      - "8081:80"
      - "8083:80"
      - "8090:80"
    networks:
      - r7l-network

  r7l-integration-test:
    build:
      context: ./integration_test
      dockerfile: Dockerfile
    container_name: r7l-integration-test
    depends_on:
      - r7l-backend
      - r7l-frontend
      - r7l-admin-panel
    networks:
      - r7l-network
    volumes:
      - /opt/R7L-full/error_log:/app/error_log
volumes:
  r7l_postgres_data:
  r7l_postgres_replica_data:


networks:
  r7l-network:
    external: true
  monitoring-net:
    external: true
