* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Segoe UI", sans-serif;
	line-height: 1.6;
	font-size: 16px;
}