.sidebar {
	width: 15rem;
	background-color: var(--primary-color);
	color: var(--white);
	padding: 1.25rem;
	box-shadow: 0.125rem 0 0.625rem rgba(0, 0, 0, 0.15);
	overflow-y: auto;
	overflow-x: hidden;
	flex-shrink: 0;

	scrollbar-width: none;
	-ms-overflow-style: none;
	transition: transform 0.3s ease;
}

.sidebar.hidden {
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar h2 {
	font-size: 1.125rem;
	margin-bottom: 1rem;
	color: #ddd;
}

.icons-section {
	position: relative;
	background-color: #354951;
	border-radius: 0.5rem;
	padding: 0.75rem 0.875rem;
	margin-bottom: 1rem;
	transition: background-color 0.2s ease;
	cursor: pointer;
	overflow: hidden;
	border-left: 0.4rem solid transparent;
}

.icons-section:hover {
	background-color: #3e5560;
}

.icons-section.active {
	background-color: var(--primary-color);
	color: var(--white);
	border-left-color: var(--accent-color);
}

.icons-section-title {
	color: var(--white);
	font-size: 0.9375rem;
	font-weight: 500;
	margin-bottom: 0.625rem;
	white-space: normal;
	word-break: break-word;
	max-width: 180px;
	display: block;
}

.progress-wrapper {
	width: 100%;
	height: 10px;
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 5px;
}

.progress-bar {
	height: 100%;
	background-color: #4caf50;
	transition: width 0.3s ease;
	border-radius: 5px 0 0 5px;
}

.icons-icon {
	width: 1.25em;
	height: 1.25em;
	vertical-align: middle;
	margin-right: 0.3em;
	margin-bottom: 0.1em;
	display: inline-block;
	object-fit: contain;
}