apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://r7l-prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
    version: 1

  - name: Loki
    type: loki
    access: proxy
    url: http://r7l-loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
    version: 1

  - name: Alertmanager
    type: alertmanager
    access: proxy
    url: http://r7l-alertmanager:9093
    jsonData:
    isDefault: false
    editable: true
    version: 1